@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Variables de base */
:root {
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /* Typography */
  --paragraph-font-size: 16px;

  /* Fonts */
  --raleway-family: "Raleway", sans-serif;
  --raleway-weights: "400", "700";
  --open-sans-family: "Open Sans", sans-serif;
  --open-sans-weights: "400";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  font-family: var(--open-sans-family);
  font-weight: var(--open-sans-weights);
  font-size: 16px;
}

section{
    min-height: 100vh;
    padding: 2rem 5%;
}

.header {
  padding: 2rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .navbar ul {
  display: flex;
  align-items: center;
}

.header .navbar ul li {
  margin-left: 2rem;
  transition: 3s;
}

.header .navbar ul li:hover, .header .navbar ul li.active {
  border-bottom: 1px solid var(--bright-blue);
}


#menu-icon{
    font-size: 2rem;
    color: var(--desaturated-blue);
    display: none;
}


.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.home .home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .home-content h1{
    font-family: var(--raleway-family);
    font-size: 2.5rem;
    font-weight: var(--raleway-weights);
    color: var(--very-dark-blue);
    margin-bottom: 2rem;
}

.home .home-content p{
    font-family: var(--open-sans-family);
    font-weight: var();
    font-size: 1rem;
    color: var(--desaturated-blue);
    margin-bottom: 2rem;
}

.home .home-content span{
    display: flex;
    gap: 1rem;
}

.home .home-content .home-email{
    width: 300px;
    border-radius: 3px;
    border: 1px solid var(--desaturated-blue);
}

.home .home-content .home-email:focus{
    border: 1px solid var(--bright-blue);
}

.home .home-content .btn{
    font-family: var(--open-sans-family);
    font-size: 1rem;
    color: var(--light-grayish-blue);
    background-color: var(--bright-blue);
    padding: .9rem 4rem;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.home .home-content .btn:hover{
    background-color: var(--moderate-cyan);
}

.home .home-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-img img{
  width: 80vw;
}

#features{
  background-image: url("../images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features .features-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.features .features-content .features-text h2{
  font-family: var(--raleway-family);
  font-size: 2rem;
  font-weight: var(--raleway-weights);
  color: var(--very-dark-blue);
  margin-bottom: 2rem;
}

.features .features-content .features-text p{
  font-family: var(--open-sans-family);
  font-size: 1rem;
  color: var(--desaturated-blue);
  margin-bottom: 1rem;
}

.features .features-content .features-text .features-btn{
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid var(--moderate-cyan);
  width: fit-content;
  padding-bottom: 5px;
}

.features .features-content .features-text .features-btn button{
  background-color: transparent;
  color: var(--moderate-cyan);
}


.features .features-content .features-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.features .features-content .features-img img{
  width: 70vw;
}

.features .features-content .features-text .features-testimony{
  margin-top: 2rem;
  padding: 2rem;
  background-color: white;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.features .features-content .features-text .features-testimony p{
  font-family: var(--open-sans-family);
  font-size: 10px;
  color: var(--desaturated-blue);
  margin-bottom: 1rem;
}


.features .features-content .features-text .features-testimony .testimony-author{
  display: flex;
  align-items: center;
  gap: 7px;
}

.features .features-content .features-text .features-testimony .testimony-author img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.features .features-content .features-text .features-testimony .testimony-author .author-info{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: var(--very-dark-blue);
}

.features .features-content .features-text .features-testimony .testimony-author .author-info p{
  color: var(--desaturated-blue);
}


footer{
  width: 100%;
  height: 30rem;
}

#team{
  background-color: var(--desaturated-blue);
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team .team-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 5%;
}

.team .team-content .team-text{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
}

.team .team-content .team-text h2{
  font-family: var(--raleway-family);
  font-size: 2rem;
  font-weight: var(--raleway-weights);
  color: var(--light-grayish-blue);
  margin-bottom: 2rem;
}

.team .team-content .team-text p{
  font-family: var(--open-sans-family);
  font-size: 1rem;
  color: var(--light-gray);
  margin-bottom: 1rem;
}

.team .team-content .team-email{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.team .team-content .team-email input{
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--light-gray);
  padding: 1rem;
}



.team .team-content .team-email .btn{
  font-family: var(--open-sans-family);
  font-size: 1rem;
  color: var(--light-grayish-blue);
  background-color: var(--bright-blue);
  padding: .7rem 3rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
}


#footer{
  background-color: var(--very-dark-blue);
  width: 100%;
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: .9rem 5%;
}

.footer-nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}



.footer-nav .nav-address span{
  display: flex;
  gap: 1rem;
  color: var(--light-gray);
  font-family: var(--open-sans-family);
  font-size: 1rem;
}

.footer-nav .nav-links ul{
  display: flex;
  flex-direction: column;
  color: var(--light-gray);
}


.footer-nav .nav-links ul a{
  color: var(--light-gray);
  gap: 2rem;
}

.footer-nav .nav-social{
  color: var(--light-gray);
  height: 100px;
  padding: 5px;
}


.footer-nav .nav-social span i{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  margin-left: 5px;
  padding: 3px;
}

